body {box-sizing:border-box}

.slideshow-container { 
  position: relative;
  margin: 140px -10px -30px -40px;
}

.mySlides {display: none;
           width: 100%;
           z-index: -1;
        }
img {vertical-align: middle;
height: 100%;}

.fade {
    animation-name: fade;
    animation-duration: 3s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
