div.container{display:flex; flex-direction: column; height:auto; width: auto; margin: 0 -10px 0 -10px;}

span.containHolders{background-color: red; margin: top 200px; padding: 0 10% 0 10%; height:250px;}