div#productContainer{margin: 140px 3% 0 3%;}

figure{width: 250px; height: 390px; margin: 1%; background-color: white;}

body{background-color: lightgray;}

div#blackbox{overflow:hidden; align-items: center; background-color: white; width: 235px; height: 145px; 
    margin: right -2px; margin-top: 5px; }

figure img{max-width: 100%; max-height: 100%; background-color: none; display:inline-block; vertical-align: middle;}

figure figcaption{display:block; padding: 5px 10px 10px 12px; height:120px; text-align: left; white-space: pre-wrap; overflow: hidden;}

span#text{display:flex; flex-direction: row; flex-wrap:wrap; position: absolute; left: 10%; right:10%; justify-content: center;}

/*Tags for Products Figure Box (set to class)*/
figure.Promo{border: 3px solid yellowgreen;}

figure.LowPrice{border: 3px solid darkred;}

figure.DropPrice{border: 3px solid red;}

figure.TwoFOne{border: 3px solid darkolivegreen;}

figure.None{border: 3px solid rgba(0, 0, 0, 0)(0, 0, 0, 0.032);}

/*Tags for Products Title*/ 

div#Promo{background-color: yellowgreen; width: 230px; height: 35px; margin: -1px 0 0 -25px; border-radius: 0 0 50px 0; font-size:30px; color: white;}

div#LowPrice{background-color: darkred; width: 230px; height: 35px; margin: -1px 0 0 -25px; border-radius: 0 0 50px 0; font-size:30px; color: white;}

div#DropPrice{background-color: red; width: 230px; height: 35px; margin: -1px 0 0 -25px; border-radius: 0 0 50px 0; font-size:30px; color: white;}

div#TwoFOne{background-color: darkolivegreen; width: 230px; height: 35px; margin: -1px 0 0 -25px; border-radius: 0 0 50px 0; font-size:30px; color: white;}

div#None{background-color: rgba(0, 0, 0, 0)(0, 0, 0, 0.032); width: 230px; height: 35px; margin: -1px 0 0 -25px; border-radius: 0 0 50px 0; font-size:30px; color: white;}


/*Tags for Button*/
a#button{background-color: green; width: 80%; height: 20px; border: 1px solid green; margin: 8px auto 0 auto; padding: 10px; border-radius: 25px;
    color: white; text-decoration: none; display: block;}


/*Filter*/
div#filtertext{padding: 12px 12px;
    color: white; font-size: 20px; font-weight: bold; 
    position:fixed; top:155px; left: 0; background-color: green; width: 80px; height:20px; border-radius: 0 50px 50px 0; z-index: 3; transition: 0.5s;}

div#filtertext:hover{background-color: darkseagreen; color: black;}

div#filterpanel{position:fixed; top:200px; left: 0px; background-color: white; width: 0px; height:320px; overflow: hidden; transition: 0.5s;}

#filtertitle{margin: 8px 0 5px 12px; padding: 3px; text-decoration: underline; font-weight: bold;  
    display: inline-block; font-size: 18px;}

.filterbox a{margin: 0 0 10px 12px; padding: 3px; border: 1px solid black; border-radius: 0 10px 0 10px;
    display: inline-block; font-size: 18px;}

.filterbox a:hover{background-color: lightgreen;}