

footer {
    background-color: #769fff;
    font-family: "Helvetica";
    bottom:0;
    right: 0;
    left: 0;
    margin: 30px -10px -10px;

}

.footer {
    width: 80%;
    background-color: #769fff;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: centers;
    flex-wrap: wrap;
    margin: 5px 0 0 15vw;
    padding-top: 40px;
    padding-bottom: 40px;
}

nav h2{margin-top: 5px;}
nav h2 a{text-decoration: none;}